body{
    background-color: orangered;
}

h1{
    color: midnightblue;
    text-align: center;
}

form{
    text-align: center;
}

input{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-style: outset;
    border-color: blueviolet;
    background-color: midnightblue;
    color: orangered;
    font-family: fantasy;
    font-size: 29;
}

textarea{
    background-color: midnightblue;
    color: orange;
}

.result_tab{
    text-align: center;
    font-family: sans-serif;
    font-size: 33;
    color: orange;
    background-color: midnightblue;
    width: 50vw;
    box-shadow: -4px -9px 0 #044;
    margin: 2vw 10vw 1vw 22vw;
    border-style: outset;
    border-color: slateblue;
}